# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Week3-ScriptFiles/Test
.DS_Store
Week4-CLanguage/.vscode/launch.json
Week4-CLanguage/.vscode/settings.json
Week4-CLanguage/.vscode/c_cpp_properties.json
Week4-CLanguage/.vscode/c_cpp_properties.json
.gitignore
Week4-CLanguage/.vscode/settings.json
Week5-BiteWiseOperator/bitwise
